In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('data/train.csv',parse_dates='datetime',index_col='datetime')
test = pd.read_csv('data/test.csv',parse_dates='datetime',index_col='datetime')

In [3]:
train[:20]

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14
2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36
2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56
2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84
2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94
2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106
2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110
2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93
2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67
2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35
2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37

In [4]:
train['hour'] = train.index.hour
train['month'] = train.index.month
train['year'] = train.index.year - 2011
train['day_of_week'] = train.index.weekday
train[:3]
test['hour'] = test.index.hour
test['month'] = test.index.month
test['year'] = test.index.year - 2011
test['day_of_week'] = test.index.weekday

In [5]:
from sklearn.linear_model import Lasso

In [27]:
clf = Lasso()

In [28]:
clf.fit(train['atemp'],train['count']);

In [29]:
prediction = clf.predict(train['count'])

In [30]:
print prediction

191.574131913

In [45]:
import numpy as np
def error(predictions,actual):
    # print predictions[:10]
    # print np.array(actual)[:10]
    err = 0
    for i, pred in enumerate(predictions):
        err += (np.log1p(pred)-np.log1p(actual[i]))**2
    J = (err/len(predictions))**.5
    return J

err=0
for i in train['count']:
    err += (np.log1p(prediction)-np.log1p(i))**2

print (err/1)**.5
#print error(prediction, train['count'])

163.723867294