In [41]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [42]:
train = pd.read_csv('data/train.csv',parse_dates='datetime',index_col='datetime')
test = pd.read_csv('data/test.csv',parse_dates='datetime',index_col='datetime')

In [43]:
train[:5]

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0,3,13,16
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0,8,32,40
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0,5,27,32
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0,3,10,13
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0,0,1,1

In [44]:
test[:5]

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
datetime,,,,,,,,
2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [45]:
train['hour'] = train.index.hour
train['month'] = train.index.month
train['year'] = train.index.year - 2011
train['day_of_week'] = train.index.weekday
train[:3]
test['hour'] = test.index.hour
test['month'] = test.index.month
test['year'] = test.index.year - 2011
test['day_of_week'] = test.index.weekday

In [46]:
from sklearn.linear_model import Lasso

In [47]:
clf = Lasso()

In [48]:
clf.fit(train['atemp'],train['count']);

In [49]:
prediction = clf.predict(train['count'])

In [50]:
print prediction

191.574131913

In [51]:
import numpy as np
def error(predictions,actual):
    print predictions[:10]
    print np.array(actual)[:10]
    err = 0
    for i, pred in enumerate(predictions):
        err += (np.log1p(pred)-np.log1p(actual[i]))**2
    J = (err/len(predictions))**.5
    return J

err=0
for i in train['count']:
    err += (np.log1p(prediction)-np.log1p(i))**2

print (err/1)**.5
#print error(prediction, train['count'])

163.723867294

In [52]:
import numpy as np
humidity = Lasso()
humidity.fit(train['humidity'],train['count'])
hPredict = humidity.predict(train['count'])
err=0
for i in train['count']:
    err += (np.log1p(hPredict)-np.log1p(i))**2

print (err/1)**.5

163.723867294

In [53]:
from sklearn import cross_validation
kf = cross_validation.KFold(len(train),5,shuffle=True)
print kf

sklearn.cross_validation.KFold(n=10886, n_folds=5, shuffle=True, random_state=None)

In [54]:
import numpy as np
twoFeats = Lasso()
features = ['humidity', 'atemp']
twoFeats.fit(train[features],train['count'])
#predict = twoFeats.predict(train['count'])

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute='auto', tol=0.0001,
   warm_start=False)

In [55]:
twoFeats

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute='auto', tol=0.0001,
   warm_start=False)

In [56]:
predict = twoFeats.predict(train[features])

In [57]:
print test.index

<class 'pandas.tseries.index.DatetimeIndex'>
[2011-01-20 00:00:00, ..., 2012-12-31 23:00:00]
Length: 6493, Freq: None, Timezone: None

In [58]:
train['count']

datetime
2011-01-01 00:00:00     16
2011-01-01 01:00:00     40
2011-01-01 02:00:00     32
2011-01-01 03:00:00     13
2011-01-01 04:00:00      1
2011-01-01 05:00:00      1
2011-01-01 06:00:00      2
2011-01-01 07:00:00      3
2011-01-01 08:00:00      8
2011-01-01 09:00:00     14
2011-01-01 10:00:00     36
2011-01-01 11:00:00     56
2011-01-01 12:00:00     84
2011-01-01 13:00:00     94
2011-01-01 14:00:00    106
...
2012-12-19 09:00:00    317
2012-12-19 10:00:00    164
2012-12-19 11:00:00    200
2012-12-19 12:00:00    236
2012-12-19 13:00:00    213
2012-12-19 14:00:00    218
2012-12-19 15:00:00    237
2012-12-19 16:00:00    334
2012-12-19 17:00:00    562
2012-12-19 18:00:00    569
2012-12-19 19:00:00    336
2012-12-19 20:00:00    241
2012-12-19 21:00:00    168
2012-12-19 22:00:00    129
2012-12-19 23:00:00     88
Name: count, Length: 10886

In [59]:
error(predict, train['count'])

[  63.04235387   59.76404353   59.76404353   80.02519961   80.02519961
   67.84781973   59.76404353   36.71260254   80.02519961  101.54948508]
[16 40 32 13  1  1  2  3  8 14]

nan

In [60]:
predict[predict < 0] = 0

In [61]:
error(predict, train['count'])

[  63.04235387   59.76404353   59.76404353   80.02519961   80.02519961
   67.84781973   59.76404353   36.71260254   80.02519961  101.54948508]
[16 40 32 13  1  1  2  3  8 14]

1.3921726746499172

In [62]:
threeFeats = Lasso()

In [70]:
#tdf = pd.DataFrame(data=predict, index=test.index,columns=['count'])

In [ ]:
tdf.to_csv('results.csv')